@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Crimson text */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.bounce-in {
  animation: bounceIn 0.2s ease-out;
}

.bounce-out {
  animation: bounceOut 0.2s ease-out;
}

/* slider styling */

.slick-dots li button:before {
  color: white !important;
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}

/* Custom CSS for Slick Dots */

.custom-dots {
  display: flex !important;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  @apply gap-2 mt-2 space-x-0 md:gap-3;
}

.custom-dots li a {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: opacity(0.65);
  @apply w-14 h-14 md:w-16 md:h-16;
}

.custom-dots li.slick-active a {
  filter: opacity(1);
  @apply border-4 rounded-xl border-tertiary;
}

@layer utilities {
  .animate-spin-slow {
    @apply animate-spin;
    animation-duration: 7s;
  }

  .animate-pulse-slow {
    @apply animate-pulse;
    animation-duration: 3s;
  }

  .animate-scale-pulse {
    animation: scalePulse 3s ease-in-out infinite;
  }

  @keyframes scalePulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  .loading-text {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1),
      #8b5c21,
      rgba(0, 0, 0, 0.1)
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: loading 5s infinite ease-in-out;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

.chat-bubble {
  position: relative;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-49%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

/* chat bubble mobile */
@media (max-width: 640px) {
  .chat-bubble::after {
    top: auto;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: none;
  }
}

/* avatar */
.avatar-bounce {
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* img header */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.auto-zoom {
  animation: zoomIn 18s ease-in forwards;
}
